  

  /*AMA Green Tweak and announcement bar */
  .md { overflow:hidden;}

  .md > ul:nth-child(4) > li:nth-child(1) > p:nth-child(1) > strong:nth-child(1) {background-color:#eeeeee; }



  /*ASK ATL STUFF */
  .md > h6:nth-child(1) > a:nth-child(1) {
    color: white!important;
    font-weight: bold;
    background-color: #369;
    padding: 4px 5px;
    border-bottom: 3px solid #fff;
    border-top: 1px solid #fff;
  }

  .md > h6:nth-child(1) > a:nth-child(2) {
    color: white!important;
    font-weight: bold;
    background-color: #369;
    padding: 4px 5px;
    border-bottom: 3px solid #fff;
    border-top: 1px solid #fff;
  }

  .md > h6:nth-child(1) > a:nth-child(2):hover {
    color: #feffff !important;
    font-weight: bold;
    background-color: #D60D39;
    border-bottom: 3px solid #fff;
    padding: 4px 5px;
    border-top: 1px solid #fff;
  }

  .md > h6:nth-child(1) > a:nth-child(2):active {
    color: white !important;
    font-weight: bold;
    background-color: #369;
    border-bottom: 4px solid #fff;
    border-top: 1px solid #fff;
    padding: 3px 5px;
    margin-top: 1px;
  }

  .md > h6:nth-child(1) > a:nth-child(2):hover {
    color: white!important;
  }

  .md > h6:nth-child(1) > a:hover {
    color: #D60D39!important;
  }






  /* ASKsf Stuff */
  .md > h6:nth-child(1) > a:nth-child(1):hover {
    color: #feffff !important;
    font-weight: bold;
    background-color: #D60D39;
    border-bottom: 3px solid #fff;
    padding: 4px 5px;
    border-top: 1px solid #fff;
  }

  .md > h6:nth-child(1) > a:nth-child(1):active {
    color: #feffff !important;
    font-weight: bold;
    background-color: #369;
    border-bottom: 4px solid #369;
    border-top: 1px solid #369;
    padding: 3px 5px;
    margin-top: 1px;
  }




  /* Top header opacity */
  #header #sr-header-area {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    z-index: 2;
  }

  #header:hover #sr-header-area {
    opacity: 1;
    background: white;
  }



  .titlebox .usertext-body .md h6 {
    display: block;
    position: absolute;
    top: 150px;
    left: 10px;
    background-color: white;
    font-size: 16px;
    color: #555555;
    text-align: left;
    padding: 2px 10px;
    margin: 0;
    z-index: 1;
    color: grey;
    font-weight: normal;

  }

  .md > h6:nth-child(1) > a:nth-child(3) {font-size:16px!important; }

  .titlebox .usertext-body .md h6 a {
    color: grey;
  font-weight:bold;
  }


  .md > h6:nth-child(1) > a:nth-child(2) {
    color: white!important;
  }

  .content {
    margin-top: 50px;
  }

  #header {
    border-bottom: none;
  }

  #header-bottom-left {
    background: url(%%AtlantaSkylineMay%%) center bottom;
    height: 140px;
  }

  #header-bottom-left .tabmenu {
    position: absolute;
    left: 150px;
    bottom: 0;
    display: inline;
  }

  #header-bottom-left .tabmenu li a {
    background: white;
    text-transform: uppercase;
    color: #aaa;
  }

  #header-bottom-left .tabmenu li.selected a {
    color: #D60D39;
    border: none;
  }

  #header-bottom-left .tabmenu li a:hover {
    color: #D60D39;
  }

  #header-bottom-right {
    background: white;
  }

  #header-img {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  .pagename {
  }

  .pagename a {
    background: url(%%AtlantaWords%%);
    margin-left: 152px;
    margin-top:50px;
    height: 70px;
    width: 428px;
    background-repeat: no-repeat;
    text-indent: -9000px;
  }

  #header-img-a,
  #header-bottom-left .redditname a {
    display: inline;
    float: left;
  }

  .linklisting .rank {
    display: none;
  }

  .linklisting .midcol {
    margin-left: 4px;
  }

  .flairselector .customizer {
    display: none !important;
  }

  /* muni flair */
  .flair-muni, span.flair[class$="line"] {
    border-width: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  }

  .flair-muni-let, span.flair[class$="line"] {
    border-radius: 50%;
    padding: 0;
    width: 1.2em;
    color: #fff;
    text-align: center;
  }

  .flair-muni-j, .flair-jline {
    border-color: #dc0;
    background: #dc0;
  }

  .flair-muni-j:after, .flair-jline:after {
    content: "J";
  }

  .flair-muni-k, .flair-kline {
    border-color: #6bf;
    background: #6bf;
  }

  .flair-muni-k:after, .flair-kline:after {
    content: "K";
  }

  .flair-muni-l, .flair-lline {
    border-color: #c6f;
    background: #c6f;
  }

  .flair-muni-l:after, .flair-lline:after {
    content: "L";
  }

  .flair-muni-m, .flair-mline {
    border-color: #5c5;
    background: #5c5;
  }

  .flair-muni-m:after, .flair-mline:after {
    content: "M";
  }

  .flair-muni-n, .flair-nline {
    border-color: #49f;
    background: #49f;
  }

  .flair-muni-n:after, .flair-nline:after {
    content: "N";
  }

  .flair-muni-t, .flair-tline {
    border-color: #c66;
    background: #c66;
  }

  .flair-muni-t:after, .flair-tline:after {
    content: "T";
  }
  /* road flair */
  .flair-highway {
    border-color: #999;
    background-color: #fff;
    color: #888;
  }

  .flair-route {
    border-color: #8f8;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #787;
    color: #fff;
  }

  .flair-interstate {
    border: 0;
    border-top: 2px solid #f55;
    background-color: #77f;
    color: white;
  }

  /* entry - give gold & report */
  .entry .buttons li a.give-gold {
    color: #a96;
  }

  .entry.dislikes .buttons li .report-button a.togglebutton {
    color: #c00;
  }
  /* link flair */
  .title .linkflairlabel {
    margin-left: 0.5em;
    margin-right: 0;
  }


  /* Sidebar */

  div.titlebox {  
     background: url(%%TitleBoxImage%%) no-repeat;
     padding: 175px 2px 2px 2px;
  }


  .side {
    background: white;
    font-size: 120%;
    border-color: #369;
    padding-top:41px;
  }



  .morelink {
    color: white;
    position: relative;
    border-color: #369;
    text-align: left;
    letter-spacing:0px;
    padding-left: 10px;
    background: #369;
    background-position: 265px 7px;
  }

  .morelink:hover {
    background: #D60D39;
    background-repeat: no-repeat;
    background-position: 265px 7px;
  }

  .morelink:hover, .mlh {
    border-color: #D60D39;
  }

  .morelink a {
    color: white;
  }

  .nub {
    display: none;
  }

  .titlebox a:hover {
    color: #D60D39;
  }

  .titlebox h1 {
    text-align: center;
    /* margin-top: 55px; removed because extra button break ads */
    margin-bottom: 5px;
  }

  .titlebox h1 a {
    color: #ddd;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
  }

  .submit-page .titlebox h1 {
    margin: 5px;
  }

  .titlebox h3 {
    color: #444;
    margin: 0 0px 0 0px;
    background: #e0e8f8;
    font-size: 130%;
    padding: 3px 0px 3px 5px;
    display: block;
  }

  .titlebox h3 a {
    color: #444;
    text-decoration: none;
  }

  .titlebox li {
    list-style: square url(%%rightArrow-blue%%);
  }

  #search input[type=text] {
    border: solid 1px #ddd;
    font-size: 1.8em;
    background: #fff  no-repeat center right;
    width: 283px;
  }


  /* subscribe button */
  .RESDashboardToggle,
  .RESshortcutside,
  .fancy-toggle-button .active {
    border-radius: 0 !important;
    background: #369 !important;
    border: none !important;
    padding: 4px 8px !important;
    font-size: 11px !important;
  }

  .RESshortcutside.remove,
  .RESDashboardToggle.remove,
  .fancy-toggle-button .remove {
    background: #D60D39 !important;
  }

  .fancy-toggle-button a:hover {
    color: white;
  }

  .subButtons {
    padding-top: 5px;
  }


  .md h1 {
    background-color: #369;
    color: white;
    height: 25px;
    padding-top: 4px;
  }

  /* Extra submit button for events */

  .titlebox .usertext-body .md h5 {
    z-index: 1;
    position: absolute;
    display: block;
    top: 465px;
    right: 5px;
  }

  .loggedin .titlebox .usertext-body .md h5 {
    top: 393px;
  }

  .single-page .titlebox .usertext-body .md h5 {
    top: 578px;
  }

  .loggedin.single-page .titlebox .usertext-body .md h5 {
    top: 507px !important;
  }

  .submit-page .titlebox .usertext-body .md h5 {
  display: none;
  }

  .titlebox .usertext-body .md h5 a {
    display: block;
    color: white;
    border-color: #8be;
    border: 1px solid #8be;
    margin-right: 10px;
    text-align: left;
    padding-left: 10px;
    background: #8be no-repeat;
    background-position: 265px 7px;
    font-size: 18px;
    line-height: 29px;
    width: 278px;
    letter-spacing: 0px;
    margin-bottom: 13px;
  }




  .titlebox .usertext-body .md h5 a:hover {
    background-color: orangered;
    border-color: #FF4500;
    border: 1px solid #FF4500;
  }

  .submit-page .titlebox .usertext-body .md h5 {
    
  }

  /* Table */

  .md table {
    width:300px;
    margin: 0px;
  }

  .md th {
    font-weight:normal;
    border:none;
  }
  .md td {
    border:none;
  }
  .age {
    display: none!important;
  }

  /* Sidebar Social */
  .md a[href="http://on.fb.me/atlreddit"],
  .md a[href="https://plus.google.com/communities/114019472912133790446"],
  .md a[href="https://twitter.com/atlredditors"],
  .md a[href="http://www.meetup.com/reddit/-30301/"],
  .md a[href="http://redditgifts.com/meetups/r/atlanta/"]{
      display: inline-block;
      background: url(%%social-sprites%%) no-repeat top left;
      vertical-align: text-bottom;
      font-size:14px;
      padding-top:8px;
      margin-left:18px;
  }
  .md a[href="http://on.fb.me/atlreddit"]{
    text-indent: 40px; 
    background-position: 0 -144px; 
    min-width: 35px; 
    height: 35px;
  }
  .md a[href="https://plus.google.com/communities/114019472912133790446"]{
    text-indent: 40px; 
    background-position: 0 -96px; 
    min-width: 35px; 
    height: 35px;
  }
  .md a[href="https://twitter.com/atlredditors"]{
    text-indent: 40px; 
    background-position: 0 -192px; 
    min-width: 35px; 
    height: 35px;
  }
  .md a[href="http://www.meetup.com/reddit/-30301/"]{
    text-indent: 40px; 
    background-position: 0 0px; 
    min-width: 35px; 
    height: 35px;
  }
  .md a[href="http://redditgifts.com/meetups/r/atlanta/"]{
    text-indent: 40px; 
    background-position: 0 -48px; 
    min-width: 35px; 
    height: 35px;
  }


  /* Sidebar Sports */
  .md a[href="/r/braves"],
  .md a[href="/r/falcons"],
  .md a[href="/r/AtlantaHawks"],
  .md a[href="/r/atlantasilverbacks"]{
      display: inline-block;
      background: url(%%sport-sprites%%) no-repeat top left;
      vertical-align: text-bottom;
      font-size:14px;
      padding-top:8px;
      width:90px;
      margin-left:32px;
    
  }
  .md a[href="/r/braves"]{
    text-indent: 40px; 
    background-position: 0 0px; 
    min-width: 75px; 
    height: 75px;
  }
  .md a[href="/r/falcons"]{
    text-indent: 40px; 
    background-position: 0 -91px; 
    min-width: 75px; 
    height: 75px;
  }
  .md a[href="/r/AtlantaHawks"]{
    text-indent: 40px; 
    background-position: 0 -175px; 
    min-width: 75px; 
    height: 75px;
  }
  .md a[href="/r/atlantasilverbacks"]{
    text-indent: 40px; 
    background-position: 0 -260px; 
    min-width: 75px; 
    height: 75px;
  }



